@model List<EmployeeViewModel>
@{
    ViewData["Title"] = "Employee List";
}

<div >
    <h2>Emplouee List</h2>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>Province</th>
                <th>Jabatan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.Gender</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.Province</td>
                    <td>@item.Jabatan</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-success">View</a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
               
            }
            
        </tbody>
        <a asp-action="Add" class="btn btn-sm btn-submit">Add</a>
      

    </table>
</div>
